* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9BB1FF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
}

.buttons {
    display: flex;
}

.num-button, .op-button, .equals {
    background-color: #e2fdff;
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0;
    font-family: "Edu NSW ACT Hand Pre";
    font-size: 1.5rem;
    transition-duration: 0.2s;
}

.num-button:hover, .op-button:hover, .equals:hover {
    background-color: #5465FF;
    color: #e2fdff;
    border: none;
}

.op-pad {
    display: flex;
    flex-direction: column;
}

.display {
    background-color: #e2fdff;
    font-family: "Edu NSW ACT Hand Pre";
    font-size: 1.5rem;
    padding: 1em;
    border-radius: 80px;
    text-align: right;
    min-height: 2em;
}